<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 6px;
            padding-left: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
  </head>
  <body>
    <a href="/leads">Geri Git</a>
    <hr>
    <h1>{{ lead.first_name }} {{ lead.last_name }} DETAYLARI</h1>
    <p>Yaş: {{ lead.age }}</p>
  </body>
</html>